<div class="bottom">
    <p>
        <ul>
            <li class="element first">
                <a class="link" href="{{ site.base_url }}documentation/">Documentation</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
                <a class="link" href="{{ site.base_url }}support.html">Support</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
                <a class="link" href="{{ site.base_url }}download.html">Download</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
                <a class="link" href="{{ site.base_url }}contribute.html">Contribute</a>&nbsp;|&nbsp;
            </li>
            <li class="last element">
                <a class="link" href="/blog/">Blog</a>
            </li>
        </ul>
    </p>
</div>
