<ul class="topmenu">
    <li class="element first">
        <a class="link" href="{{ site.base_url }}documentation/">Documentation</a>
    </li>
    <li class="element">
        <a class="link" href="{{ site.base_url }}support.html">Support</a>
    </li>
    <li class="element">
        <a class="link" href="{{ site.base_url }}download.html">Download</a>
    </li>
    <li class="element">
        <a class="link" href="{{ site.base_url }}contribute.html">Contribute</a>
    </li>
    <li class="last element">
        <a class="link" href="/blog/">Blog</a>
    </li>
</ul>
