---
layout: post
---

{% for post in site.posts limit: 5 %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author">
        {% if post.author %}
        {{ post.author }}
        {% else %}
        The Propel Team
        {% endif %}
        – <span class="date">{{ post.date | date_to_long_string }}</span>
    </p>
    <p class="excerpt">
        {{ post.content | split: '<!-- more -->' | first }}
        <p class="read-more"><a href="{{ post.url }}">Read more&nbsp;&raquo;</a></p>
    </p>
    {% endfor %}

{% for post in site.posts offset: 5 %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author">
        {% if post.author %}
        {{ post.author }}
        {% else %}
        The Propel Team
        {% endif %}
        – <span class="date">{{ post.date | date_to_long_string }}</span>
    </p>
{% endfor %}
