<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
  <head>
    <title>{{ page.title }} - Propel</title>
    <meta name="language" content="en" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/markdown.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/base_syntax.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css" />
    <!-- JavaScripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.tableofcontents.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="fond">
      <div class="layout">
        <ul class="topmenu">
          <li class="element first">
            <a class="link" href="/documentation/">Documentation</a>
          </li>
          <li class="element">
            <a class="link" href="/reference/">The Reference Guide</a>
          </li>
          <li class="element">
            <a class="link" href="/cookbook/">The Cookbook</a>
          </li>
          <li class="element">
            <a class="link" href="/support">Support</a>
          </li>
          <li class="element">
            <a class="link" href="/download">Download</a>
          </li>
          <li class="element">
            <a class="link" href="/contribute">Contribute</a>
          </li>
          <li class="last element">
            <a class="link" href="http://propel.posterous.com/">Blog</a>
          </li>
        </ul>
        <div id="banner">
          <div id="text">
            <h2 class="title">
              <a href="/">Propel</a>
            </h2>
            <p class="title">
            Smart, easy object persistence.
            </p>
          </div>
        </div>
        <div class="ribbon">
          <a href="https://github.com/propelorm/Propel" rel="me">Fork me on GitHub</a>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div class="bottom">
        <p>
          <ul>
            <li class="element first">
              <a class="link" href="/documentation/">Documentation</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
              <a class="link" href="/reference/">The Reference Guide</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
              <a class="link" href="/cookbook/">The Cookbook</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
              <a class="link" href="/support">Support</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
              <a class="link" href="/download">Download</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
              <a class="link" href="/contribute">Contribute</a>&nbsp;|&nbsp;
            </li>
            <li class="last element">
              <a class="link" href="http://propel.posterous.com/">Blog</a>
            </li>
          </ul>
        </p>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25671470-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
