<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}Blog{% endif %} - Propel</title>
        <meta name="language" content="en" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{{ site.base_url }}favicon.ico" type="image/x-icon" />
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.base_url }}css/layout.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.base_url }}css/markdown.css" />
        <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="{{ site.base_url }}css/mobile.css" />
    </head>
    <body>
        <div id="fond">
            <div class="layout">
                <ul class="rootnav">
                    <li class="element">
                        <a class="link" href="/">Propel</a>
                    </li>
                </ul>
                {% include navbar.html %}
                <div class="ribbon">
                    <a href="https://github.com/propelorm/Propel" rel="me">Fork me on GitHub</a>
                </div>
                <div class="content blog">
                    {% if page.title %}
                    <h1><a href="{{ site.base_url }}blog/">Blog</a> > {{ page.title }}</h1>
                    {% else %}
                    <h1>Blog</h1>
                    {% endif %}

                    <div class="markdown">
                        {{ content }}
                    </div>

                    <p class="fork_and_edit">
                        Found a typo ? Something is wrong in this documentation ? Just <a href="http://github.com/propelorm/propelorm.github.com/edit/master/_posts/{{ page.url | replace: '/blog/', '' | replace: '/', '-' | replace:'.html','' }}.markdown">fork and edit</a> it !
                    </p>
                </div>
            </div>
            {% include footer.html %}
        </div>
        <script type="text/javascript" src="{{ site.base_url }}js/ga.js" charset="utf-8"></script>
    </body>
</html>
