<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="language" content="en" />
        <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/propel-docs/css/layout.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/propel-docs/css/markdown.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/propel-docs/css/base_syntax.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/propel-docs/css/syntax.css" />
        <link rel="shortcut icon" href="/propel-docs/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="fond">
            <div class="layout">
                <ul class="topmenu">
                    <li class="element first">
                    <a class="link" href="documentation">Documentation</a>
                    </li>
                    <li class="element">
                    <a class="link" href="reference">The Reference Guide</a>
                    </li>
                    <li class="element">
                    <a class="link" href="cookbook">The Cookbook</a>
                    </li>
                    <li class="last element">
                    <a class="link" href="contribute">Contribute</a>
                    </li>
                </ul>
                <div id="banner">
                    <div id="text">
                        <h2 class="title">
                            Propel
                        </h2>
                        <p class="title">
                            Smart, easy object persistence.
                        </p>
                    </div>
                </div>
                <div class="ribbon">
                    <a href="https://github.com/propelorm/Propel" rel="me">Fork me on GitHub</a>
                </div>
                <div class="content markdown">
                    {{ content }}
                </div>
            </div>
            <div class="bottom">
                <p>
                <ul>
                    <li class="element first">
                    <a class="link" href="documentation">Documentation</a>&nbsp;|&nbsp;
                    </li>
                    <li class="element">
                    <a class="link" href="reference">The Reference Guide</a>&nbsp;|&nbsp;
                    </li>
                    <li class="element">
                    <a class="link" href="cookbook">The Cookbook</a>&nbsp;|&nbsp;
                    </li>
                    <li class="last element">
                    <a class="link" href="contribute">Contribute</a>
                    </li>
                </ul>
                </p>
            </div>

        </div>
        <script type="text/javascript">
        </script>
    </body>
</html>
